{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-end gap-2 mt-4">
        <a href="{{ path('app_post_index') }}" class="btn btn-light rounded-pill px-4">Annuler</a>
        <button class="btn btn-primary rounded-pill px-4">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
